@import "sanitize.css/sanitize.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet-gesture-handling/dist/leaflet-gesture-handling.css";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
}

#root {
  display: contents;
}
