@use "sanitize.css/sanitize.css";
@use "leaflet/dist/leaflet.css";
@use "leaflet-gesture-handling/dist/leaflet-gesture-handling.css";
@use "react-leaflet-markercluster/styles";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  color: white;
}

#root {
  display: contents;
}