$primaryColor: #4032dd;
$secondaryColor: #32ba76;
$surfaceColor: rgb(18, 16, 50);
$space: 8px;
$radius: 12px;

$successColor: #4CAF50;
$errorColor: #F44336;
$warningColor: #FFC107;
$infoColor: #2196F3;