$mapTransitionDuration: 1000ms;

:export {
  mapTransitionDuration: $mapTransitionDuration;
}

.map {
  opacity: 1;
  transition: all $mapTransitionDuration ease-out;

  &[data-hidden='true'] {
    opacity: 0;
  }
}